
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color:rgb(219, 239, 246);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.income-bracket {
    margin-bottom: 30px;
}
.income-bracket h2 {
    margin-bottom: 10px;
}
.income-bracket ul {
    list-style-type: none;
    padding: 0;
}
.income-bracket li {
    margin-bottom: 10px;
}
    