body{
    font-family: monospace, Courier;
    color: #333;
    background-color:rgb(219, 239, 246);
}

h1{
    color:#0b53a1;
}

a {
    color: rgb(95, 106, 186); /* or any color you prefer */
    text-decoration: none; /* removes underline */
}

a:hover {
    text-decoration: none;
    background-color: aquamarine;
}

a:visited {
    color: rgb(222, 17, 106); /* color changes for visited links */
    text-decoration: none;
}

a:active {
    color: rgb(102, 0, 255); /* color changes during clicking */
    
}


/* Nav styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(135, 193, 222, 0.7);
    padding: 10px;
}
.navbar .logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navbar .menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: rgba(26, 164, 233, 0.7);
    border: 1px solid rgb(26, 164, 233);
    /* border-radius: 10%; */
}
.navbar .menu a {
    color:sienna;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.navbar .burger {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 21px;
    position: relative;
}
.navbar .burger div {
    width: 30px;
    height: 3px;
    background-color: rgb(4, 115, 226);
    margin: 4px 0;
    position: absolute;
    transition: all 0.3s;
}
.navbar .burger div:nth-child(1) {
    top: 0;
}
.navbar .burger div:nth-child(2) {
    top: 9px;
}
.navbar .burger div:nth-child(3) {
    top: 18px;
}
.navbar .burger.toggle div:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}
.navbar .burger.toggle div:nth-child(2) {
    opacity: 0;
}
.navbar .burger.toggle div:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
}
@media (min-width: 750px) {
    .navbar .menu {
        display: flex;
        flex-direction: row;
        position: static;
        border: none;
    }
    .navbar .burger {
        display: none;
    }
}


