body{
    font-family: monospace, Courier;
    color: #333;
}

h1{
    color:#0b53a1;
}

a {
    color: rgb(95, 106, 186); /* or any color you prefer */
    text-decoration: none; /* removes underline */
}

a:hover {
    text-decoration: none;
    background-color: aquamarine;
}

a:visited {
    color: rgb(222, 17, 106); /* color changes for visited links */
    text-decoration: none;
}

a:active {
    color: rgb(102, 0, 255); /* color changes during clicking */
    
}